<div style="background:black;opacity:0.8" id="section2" class="section" >
    		<div   class="center1 col-xs-12 col-sm-12 col-md-6 col-lg-6">

    			<div style="" class="data-center">
    				<div>
    					<center>	<h1 id="nam"></h1> </center>
    				</div>
    				    <div id="slideshow1" class="slide">
					        <div><p id="">lkk</p></div>
					    </div>
					    <div id="slideshow2" class="slide" style="display: none">
					        <div><p id="pos"></p></div>
					    </div>
					    <div id="slideshow3" class="slide" style="display: none">
					        <div><p id="posd"></p></div>
					    </div>
					    <div id="slideshow4" class="slide" style="display: none">
					        <div><p id="add"></p></div>
					    </div>
    			</div>

    			</br><center><button id="but1" onclick="next()"  style="color:white">next</button><button id="but2" onclick="previous()" style="color:white">prev</button></center>
    		</div>

    		
    		

    		
    	</div>