<div style="margin-top:20px" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    			<div id="thumb" class="thumbnail">
    				<img data-src="#" alt="">
    				<div class="caption">
    					<h3 >UI Web Technologies</h3>
    					<p style="width:100%" id="1">
    						
    					</p>
    					<p style="width:100%" id="2">
    						
    					</p>
    					<p>
    					<center>	<button data-toggle="collapse" data-target="#ui" >Action</botton></center>
    						
    					</p>
    					<center><div id="ui" class="collapse">
	    				<div   class=" stars">

						  <form action="">

						    <input class="star star-5" id="star-5" type="radio" name="star" disabled="disabled" checked />

						    <label class="star star-5" for="star-5"></label>

						    <input class="star star-4" id="star-4" type="radio" name="star" disabled="disabled"/>

						    <label class="star star-4" for="star-4"></label>

						    <input class="star star-3" id="star-3" type="radio" name="star" disabled="disabled"/>

						    <label class="star star-3" for="star-3"></label>

						    <input class="star star-2" id="star-2" type="radio" name="star" disabled="disabled"/>

						    <label class="star star-2" for="star-2"></label>

						    <input class="star star-1" id="star-1" type="radio" name="star"disabled="disabled" />

						    <label class="star star-1" for="star-1"></label>

						  </form>

						</div>
					</div></center>

    					
    				</div>

    			


    			</div>
    			

    				
    			
    		</div>
    		<div style="margin-top:20px" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    			<div id="thumb" class="thumbnail">
    				<img data-src="#" alt="">
    				<div class="caption">
    					<h3 >Data base's</h3>
    					<p style="width:100%" id="">
    						MYSQL, SQLSERVER
    					</p>
    					<p style="width:100%" id="">
    						OracleDb
    					</p>
    					<p>
    					<center>	<button data-toggle="collapse" data-target="#database" >Action</botton></center>
    						
    					</p>
    					<center><div id="database" class="collapse">
	    				<div   class=" stars">

						  <form action="">

						    <input class="star star-5" id="star-5" type="radio" name="star" />

						    <label class="star star-5" for="star-5"></label>

						    <input class="star star-4" id="star-4" type="radio" name="star"checked/>

						    <label class="star star-4" for="star-4"></label>

						    <input class="star star-3" id="star-3" type="radio" name="star"/>

						    <label class="star star-3" for="star-3"></label>

						    <input class="star star-2" id="star-2" type="radio" name="star"/>

						    <label class="star star-2" for="star-2"></label>

						    <input class="star star-1" id="star-1" type="radio" name="star"/>

						    <label class="star star-1" for="star-1"></label>

						  </form>

						</div>
					</div></center>
    					
    				</div>

    			</div>
    			
    			
    		</div>
    		<div style="margin-top:20px" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    			<div id="thumb" class="thumbnail">
    				<img data-src="#" alt="">
    				<div class="caption">
    					<h3 >IDE Editor's</h3>
    					<p style="width:100%" id="">
    						Eclipse IDE, Sublime, Notepad++, Abode Dreamviewer
    					</p>
    					<p style="width:100%" id="">
    						MS Visual Studio, Brackets
    					</p>
    					<p>
    					<center>	<button data-toggle="collapse" data-target="#ide" >Action</botton></center>
    						
    					</p>
    					<center><div id="ide" class="collapse">
	    				<div   class=" stars">

						  <form action="">

						    <input class="star star-5" id="star-5" type="radio" name="star" checked/>

						    <label class="star star-5" for="star-5"></label>

						    <input class="star star-4" id="star-4" type="radio" name="star"/>

						    <label class="star star-4" for="star-4"></label>

						    <input class="star star-3" id="star-3" type="radio" name="star"/>

						    <label class="star star-3" for="star-3"></label>

						    <input class="star star-2" id="star-2" type="radio" name="star"/>

						    <label class="star star-2" for="star-2"></label>

						    <input class="star star-1" id="star-1" type="radio" name="star"/>

						    <label class="star star-1" for="star-1"></label>

						  </form>

						</div>
					</div></center>
    					
    				</div>
    			</div>
    			

    				
    			
    		</div>
    		<div style="margin-top:20px" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    			<div id="thumb" class="thumbnail">
    				<img data-src="#" alt="">
    				<div class="caption">
    					<h3 >Backend Languages</h3>
    					<p style="width:100%" id="">
    						Java, PHP, Jsp
    					</p>
    					<p style="width:100%" id="">
    						.NET
    					</p>
    					<p>
    					<center>	<button data-toggle="collapse" data-target="#backend" >See me</botton></center>
    						
    					</p>
    					<center><div id="backend" class="collapse">
	    				<div   class=" stars">

						  <form action="">

						    <input class="star star-5" id="star-5" type="radio" name="star" />

						    <label class="star star-5" for="star-5"></label>

						    <input class="star star-4" id="star-4" type="radio" name="star" />

						    <label class="star star-4" for="star-4"></label>

						    <input class="star star-3" id="star-3" type="radio" name="star" checked/>

						    <label class="star star-3" for="star-3"></label>

						    <input class="star star-2" id="star-2" type="radio" name="star"/>

						    <label class="star star-2" for="star-2"></label>

						    <input class="star star-1" id="star-1" type="radio" name="star"/>

						    <label class="star star-1" for="star-1"></label>

						  </form>

						</div>
					</div></center>
    					
    				</div>
    			</div>
    			

    				
    			
    		</div>

    		<div style="margin-top:20px" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    			<div id="thumb" class="thumbnail">
    				<img data-src="#" alt="">
    				<div class="caption">
    					<h3 >Operating Systems</h3>
    					<p style="width:100%" id="">
    						Windows 7, Windows 8, Windows 8.1
    					</p>
    					<p style="width:100%" id="">
    						Windows XP, MAC
    					</p>
    					<p>
    					<center>	<button data-toggle="collapse" data-target="#ops" >Action</botton></center>
    						
    					</p>
    					<center><div id="ops" class="collapse">
	    				<div   class=" stars">

						  <form action="">

						    <input class="star star-5" id="star-5" type="radio" name="star" checked/>

						    <label class="star star-5" for="star-5"></label>

						    <input class="star star-4" id="star-4" type="radio" name="star"/>

						    <label class="star star-4" for="star-4"></label>

						    <input class="star star-3" id="star-3" type="radio" name="star"/>

						    <label class="star star-3" for="star-3"></label>

						    <input class="star star-2" id="star-2" type="radio" name="star"/>

						    <label class="star star-2" for="star-2"></label>

						    <input class="star star-1" id="star-1" type="radio" name="star"/>

						    <label class="star star-1" for="star-1"></label>

						  </form>

						</div>
					</div></center>
    					
    				</div>
    			</div>
	
    			
    		</div>

    		<div style="margin-top:20px" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    			<div id="thumb" class="thumbnail">
    				<img data-src="#" alt="">
    				<div class="caption">
    					<h3 >Browser's</h3>
    					<p style="width:100%" id="">
    						IE, FIRE FOX, Opera
    					</p>
    					<p style="width:100%" id="">
    						Chrome, Safari
    					</p>
    					<p>
    					<center>	<button data-toggle="collapse" data-target="#browsers" >Action</botton></center>
    						
    					</p>
    					<center><div id="browsers" class="collapse">
	    				<div   class=" stars">

						  <form action="">

						    <input class="star star-5" id="star-5" type="radio" name="star" checked/>

						    <label class="star star-5" for="star-5"></label>

						    <input class="star star-4" id="star-4" type="radio" name="star"/>

						    <label class="star star-4" for="star-4"></label>

						    <input class="star star-3" id="star-3" type="radio" name="star"/>

						    <label class="star star-3" for="star-3"></label>

						    <input class="star star-2" id="star-2" type="radio" name="star"/>

						    <label class="star star-2" for="star-2"></label>

						    <input class="star star-1" id="star-1" type="radio" name="star"/>

						    <label class="star star-1" for="star-1"></label>

						  </form>

						</div>
					</div></center>
    					
    				</div>
    			</div>
    			
    			
    		</div>